.page-wrapper {
	background-image: url('./img/background.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;

}

.container {

	width: 1030px;
	margin: 0 auto;
	padding-top: 50px;
}

a {
	color: white;
	text-decoration: none;
}

.card-link:hover .card-link-title {

	color: #F26522;
}

.card-link:hover .hover-block {

	opacity: 1;
}

/* .mail {
	position: absolute;
	right: 340px;
} */

.mail:hover {
	color: #F26522;
}

.tel {
	display: block;
	text-align: right;
	margin-top: 10px;
}

.tel:hover {
	color: #F26522;
}

.card-link-title {
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
}

.from-size {
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

}

.img-title {
	width: 310px;
	height: 200px;
	object-fit: cover;
}

.main-header-contact {

	/* justify-content: flex-end; */

}

.main-header-contact:hover {
	color: #F26522;
}

.hover-block {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 310px;
	height: 55px;
	background-color: #F26522;
	position: relative;
	bottom: 90px;
	padding: 0px 16px;
	opacity: 0;
	transition: all 1s;

}

.logo {

	background-image: url('./img/logo_white.png');
	width: 53px;
	height: 47px;
	background-repeat: no-repeat;
	background-position: center;

}

.logo:hover {

	background-image: url('./img/logo_orange.png');
	color: #F26522;

}

.logo-text {

	padding-left: 70px;
	font-size: 29px;
}

.logo-text-span {
	font-size: 18px;

}

.details_link::after {
	content: ">";
	display: inline-block;
	margin-left: 16px;
}

.body-cards{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	gap: 50px;
	margin-top: 25px;
}

/* .body-cards1 {
	display: flex;
	justify-content: flex-start;
	margin-top: 25px;
	gap: 50px;
}

.body-cards2 {
	display: flex;
	justify-content: flex-start;
	margin-top: 78px;
	gap: 50px;
} */

.footer {

	text-align: center;
	color: white;
	padding-top: 50px;
	font-size: 12px;
	padding-bottom: 15px;
}

.img-background {

	width: 100%;
	height: 100%;
	object-fit: cover;

}