

*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 1280px;	
	font-family: 'Montserrat', sans-serif;

}


.neader-link {
	letter-spacing: 2.7px;
	text-transform: uppercase;
	display: inline;
	padding: 32px 36px;
	margin-top: 20px;
	color: red;
	
}
.neader-navigation{
	padding-top: 30px;
}

.neader-navigation ul{
	text-align: center;
}

a{
	text-decoration: none;
	color: red;
	padding-top: 32px;
}

.header-banner{
	background-image: url('./img/mane_image.png');
	height: 789px;
	margin-top: 32px;
	margin-bottom: 48px;
	
}

.page-title{
	text-align: center;
	width: 700px;
	font-size: 22px;
	margin: 48px 253px 38px 253px;
	
}

.p-style{
	font-size: 16px;
	text-align: center;
	letter-spacing: 2.4px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 84px;
}

.bth{
	color: white;
	background-color: red;
	display: block;
	margin: 0 auto;
	width: 191px;
	height: 51px;
	text-decoration: none;
	border: 0;
	border-radius: 4px;
	text-transform: uppercase;
}

.footer{
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	padding: 40px 105px 29px 713px;
	letter-spacing: 2.4px;
	white-space: nowrap;
	
}

.section{
	padding: 0px 67px;
}


