.container {
	display: block;
	background-color: black;
	width: 1920px;
	height: 4000px;
	color: white;
	font-family: 'Gilam', sans-serif;
}
.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-repeat: no-repeat;
	padding-top: 36px;
	margin: 0px 230px;

}

.header-bth {
	width: 218px;
	height: 50px;
	background-image: url(./img/phone.svg);
	background-repeat: no-repeat;
	border: 1px solid #E4B564;
	background-color: black;
	color: #E4B564;

}

.main-title {
	
	font-weight: 700;
	font-size: 50px;
	line-height: 28px;
	margin: 40px 1000px 40px 230px;
}

.main-description {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	margin: 128px 508px 40px 230px;
}

.main-item {

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vw;
}

.main-item1 {
	display: flex;
	flex-direction: column;
	font-size: 50px;
	background: #634F2C;
	justify-content: center;
	text-align: center;
	width: 467px;
	height: 468px;
	margin-left: 230px;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.main-item2 {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	background: #B4A385;
	justify-content: center;
	text-align: center;
	width: 467px;
	height: 468px;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;

}

.main-item3{

	display: flex;
	flex-direction: column;
	font-size: 20px;
	background: #E4B564;
	justify-content: center;
	text-align: center;
	width: 467px;
	height: 468px;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.main-item4{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	background: #E4B564;
	justify-content: center;
	text-align: center;
	width: 467px;
	height: 468px;
	font-weight: 700;
	font-size: 20px;
}