.page-title{

	text-align: center;
}
.input-wrraper{

	display: flex;
	justify-content: center;
}

.btn, .btn-done, .btn-delete{
	margin-left: 10px;
	background-color: #ea4aaa;
	border-radius: 5px;
	padding: 8px 16px;
	color: white;
	border: none;

}

.btn-done{

	background-color: green;

}

.btn-delete{

	background-color: red;
}

.input{

	border: 2px solid #ea4aaa;
	border-radius: 5px;

}

.todo-list{
	display: flex;
	flex-direction: column;
	
}

.todo-list-item{

	display: flex;
	margin: 10px;
	list-style-type: none;
	justify-content: space-between;
	border-bottom: 2px solid #ea4aaa;
}

.done{
	text-decoration: line-through;
}