body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.logo {
	font-weight: 400;
	font-size: 80px;
	line-height: 93.75px;
	padding-top: 63px;
	color: #000000;
}

.logo-span {
	color: #4BCAFF;
}

.header_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #35444F;
	height: 69px;
	margin-top: 40px;
}

.header_menu-item {
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	display: block;
	padding: 24px 33px;
}

.header_menu-item:hover {
	background: #222F3A;
}

.body_left-menu {
	width: 344px;
	height: 399px;
	border: 1px solid #000000;
	font-weight: 400;
	font-size: 27px;
	line-height: 27px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.body_left-menu-item {
	padding: 27px 27px 27px 38px;
	display: block;
	color: #495863;
}

.body_left-menu-item:hover {
	background-color: #DBDBDB;
	padding-left: 76px;
	color: #35444F;
}

.main-container {
	display: flex;
	padding-top: 50px;
}


.footer-menu {
	display: flex;
	height: 69px;
	align-items: center;
	color: #0C1927;
	box-sizing: border-box;
}

.footer-menu-item {
	color: #0C1927;
	margin-right: 60px;
}

.footer-menu-item:hover {
	color: #3181A6;
}

.footer-menu-span {
	padding-left: 135px;
}

.main_picture {
	border: 1px solid black;
	width: 875px;
	height: 529px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_discription {
	font-size: 18px;
	line-height: 24px;
	padding-top: 34px;
}

.main-section {
	padding-left: 52px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	background-color: rgba(99, 105, 110, 0.48);
	align-items: center;
	margin-top: 54px;
	padding: 0px 40px;
}