.about {
	background: url(/img/main/about/testmonials.jpg), lightgray 50% / cover no-repeat;
	background-size: cover;
	padding: 108px 96px 0;
	margin-bottom: -1px;
	@media screen and (max-width: 1206px) {
		padding: 108px 30px 0px;
	}
	@media screen and (max-width: 505px) {
		padding: 57px 35px 0;

	}

	& > h2 {
		color: #fff;
		text-align: center;
		text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		font-size: 48px;
		font-family: Montserrat;
		font-weight: 700;
		line-height: 50px;
		margin-bottom: 82px;

		@media screen and (max-width: 881px){
			font-size: 42px;
			line-height: 44px;
			
		}

		@media screen and (max-width: 505px){
			font-size: 36px;
			line-height: 48px;
			
		}
	}

	& > .about-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		& > .about-list_item {
			width: 27%;
			position: relative;
			padding-top: 71px;
			margin-bottom: 108px;

			@media screen and (max-width: 881px) {
				width: 46%;
				margin-bottom: 54px;
			}

			@media screen and (max-width: 715px) {
				width: 100%;
				margin-bottom: 45px;
			}
			& > img {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			& > p {
				color: #fff;
				text-align: center;
				font-size: 16px;
				font-family: Lato;
				font-style: italic;
				font-weight: 700;
				line-height: 24px;
			}
		}
	}
	.about-text {
		color: #a291a5;
		text-align: center;
		font-size: 14px;
		font-family: Lato;
		line-height: 21px;
		width: 67%;
		position: relative;
		margin: 0 auto;
		padding-top: 11px;
		padding-bottom: 4px;
		@media screen and (max-width: 881px) {
			width: 100%;
			padding-top: 4px;
		}
	}
	.about-text::after {
		content: "";
		width: 88%;
		height: 2px;
		background: #645766;
		position: absolute;
		bottom: -18.5px;
		left: 50%;
		transform: translateX(-50%);
	}
}

