.fork-pricing {
	background: url(/img/main/fork_pricing/Layer.jpg);
	background-size: cover;
	padding: 108px 133px 67px;

	@media screen and (max-width: 1206px) {
		padding-left: 103px;
		padding-right: 103px;
	}
	@media screen and (max-width: 762px){
		padding: 78px 103px 64px;
	}

	@media screen and (max-width: 640px) {
		padding: 57px 50px 0;

	}

	@media screen and (max-width: 535px) {
		padding: 31px 31px 0;
		
	}
	h2 {
		color: #fff;
		margin-bottom: 61px;
		text-align: center;
	}

	
}

.fork-pricing_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	li:nth-of-type(3) {
		width: 27%;
		background: rgba($color: #463048, $alpha: 0.8);
		@media screen and (max-width: 1100px){
			
			width: 47%;
			transform: scaleX(1.17) translateX(-3.7%);
		}
		@media screen and (max-width: 535px) {
			width: 100%;
			transform: scaleX(1.05) translateX(0);
		}
		span {
			margin-bottom: 270px;
		}

		.name {
			background: rgba($color: #000, $alpha: 0.1);
			padding: 43px 0;
			margin-bottom: 14px;
		}
		.price {
			margin-bottom: 16px;
			font-size: 82px;
			line-height: 90px;
			margin-bottom: 16px;
		}

		.time {
			margin-bottom: 46px;
		}
		.description {
			bottom: 218px;
			
		}
		.purchase {
			bottom: 47px;
		}
	}
	li {
		width: 23%;
		background-color: rgba($color: #fff, $alpha: 0.11);
		color: #fff;
		text-align: center;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		position: relative;
		margin-bottom: 30px;
		@media screen and (max-width: 1100px){
			
			width: 49%;
		}
		@media screen and (max-width: 535px) {
			margin-bottom: 18px;
			width: 100%;
		}

		span {
			width: 60px;
			height: 5px;
			background: #8d81ac;
			display: inline-block;
			margin-bottom: 192px;
		}

		.name {
			font-size: 24px;
			line-height: 24px;
			background-color: rgba($color: #fff, $alpha: 0.11);
			padding: 36px 5px;
			margin-bottom: 30px;
		}
		.price {
			font-size: 60px;
			line-height: 90px;
			margin-bottom: 20px;
			font-weight: 600;
		}
		.price::before {
			content: "$";
			font-weight: 400;
		}
		.time {
			font-size: 24px;
			line-height: 24px;
			margin-bottom: 38px;
		}
		.description {
			font-size: 16px;
			line-height: 18px;
			text-transform: capitalize;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 100%);
			bottom: 167px;
			width: 100%;
			padding: 4px;
		}
		.purchase {
			padding: 15px 38px;
			color: #fff;
			text-align: center;
			font-size: 15px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 400;
			line-height: 15px;
			background-color: rgba($color: #fff, $alpha: 0.15);
			text-transform: uppercase;
			border-radius: 21px;
			border: 0;
			position: absolute;
			bottom: 37px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
