.header {
	background-image: url(/img/header/header.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: top, center;
}

.burger {
	position: relative;
	display: none;
	width: 26px;
	height: 21px;
	@media screen and (max-width: 600px) {
		display: block;
	}
	span {
		position: absolute;
		display: inline-block;
		height: 3px;
		background: #ffffff;
		border-radius: 5px;
		top: 50%;
		right: 0;
		transition: all 0.5s ease-in;
	}
	span:nth-of-type(1) {
		width: 15px;
		transform: translateY(-10.5px);
	}
	span:nth-of-type(2) {
		transform: translateY(-50%);
		width: 26px;
	}
	span:nth-of-type(3) {
		width: 26px;
		transform: translateY(7.5px);
	}
}
.header.open .burger {
	span {
		border-radius: 0;
	}
	span:nth-of-type(1) {
		width: 26px;
		transform: rotate(45deg);
	}
	span:nth-of-type(2) {
		opacity: 0;
	}
	span:nth-of-type(3) {
		transform: rotate(-45deg);
	}
}

.header_nav {
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 29px 90px;
	align-items: center;
	font-weight: 700;
	font-size: 16px;

	@media screen and (max-width: 1102px) {
		flex-direction: column;
		background: #27262a;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 22px 20px 14px;
	}
	@media screen and (max-width: 600px) {
		padding: 31px 15px;
	}
	.logo {
		display: flex;
	}
	.text-logo {
		font-family: "Lato";
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #8d81ac;
		padding-left: 15px;
		@media screen and (max-width: 600px) {
			display: none;
		}
	}
	.header_menu-logo {
		justify-content: space-between;
		@media screen and (max-width: 1102px) {
			margin-bottom: 28px;
		}
		@media screen and (max-width: 600px) {
			margin-bottom: 0px;
		}
	}
	.header_buy.wide {
		display: block;
		@media screen and (max-width: 1102px) {
			display: none;
		}
	}

	.header_buy {
		display: none;
		border-radius: 40px;
		background-color: #8d81ac;
		padding: 11px 35px;
		margin-right: 0;
		font-size: 16px;
		line-height: 16px;
		a {
			color: white;
		}
		@media screen and (max-width: 1102px) {
			display: block;
		}
		@media screen and (max-width: 600px) {
			padding: 10px 25px;
			font-size: 15px;
			line-height: 15px;
		}
	}
}

a {
	color: #8d81ac;
}
ul {
	display: flex;
	align-items: center;
	@media screen and (max-width: 1102px) {
		width: 100%;
	}
}
.header_menu {
	justify-content: center;
	transition: all 0.5s ease-in;
	li:not(:last-child) {
		margin-right: 48px;
	}
	@media screen and (max-width: 1102px) {
		li:nth-last-child(2) {
			margin-right: 0;
		}
	}
	@media screen and (max-width: 600px) {
		padding-bottom: 14px;
		position: absolute;
		top: 100%;
		left: 50%;
		display: none;
		opacity: 0;
		flex-direction: column;
		transform: translateX(-50%);
		background: #333;
		width: 90%;
		justify-content: center;
		align-items: flex-start;
		li::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 53px;
			background: #8d81ac;
			top: 50%;
			left: 1px;
			transform: translateY(-50%);
			opacity: 0;
			transition: all 0.3s ease;
		}
		li {
			position: relative;
			margin: 0;
			border-bottom: 3px solid #3b3b3b;
			width: 100%;

			a {
				font-family: "Montserrat";
				font-style: normal;
				font-weight: 400;
				font-size: 26px;
				line-height: 26px;
				color: #ffffff;
				padding: 29px 36px;
				display: inline-block;
				transition: all 0.3s ease;
			}
		}
		li:active a {
			color: #8d81ac;
			padding-left: 40px;
		}
		li:active::before {
			opacity: 1;
		}
		li.active {
			&::before {
				opacity: 1;
			}
			a {
				color: #8d81ac;
				padding-left: 40px;
			}
		}
	}
}
.header.open .header_menu {
	display: flex;
	opacity: 1;
	transition: all 0.5s ease-in-out;
}

.header_offer {
	text-align: center;
	padding: 83px 0px 459px;

	h1 {
		font-weight: 700;
		font-size: 82px;
		line-height: 77px;
		color: rgba(255, 255, 255, 1);
		margin-bottom: 19px;
	}
	p:nth-of-type(1) {
		font-family: "Lato";
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
		line-height: 28px;
		color: rgba(141, 129, 172, 1);
		margin-bottom: 19px;
	}
	p:nth-of-type(2) {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 15px;
		text-transform: uppercase;
		color: rgba(132, 142, 151, 1);
	}
	@media screen and (max-width: 1102px) {
		h1 {
			font-size: 72px;
			line-height: 72px;
		}
		p:nth-of-type(1) {
			font-size: 24px;
			line-height: 24px;
		}
		p:nth-of-type(2) {
			font-size: 14px;
			line-height: 14px;
		}
	}
	@media screen and (max-width: 600px) {
		padding: 49px 34px 416px;
		h1 {
			font-size: 48px;
			line-height: 48px;
		}
		p:nth-of-type(1) {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
