.rev_editor {
	margin-top: -33px;
	padding-bottom: 70px;
	@media screen and (max-width: 1102px) {
		padding: 0px 20px 98px;

	}

	@media screen and (max-width: 600px) {
		padding: 0px 15px 88px;
		margin-top: -23px;
	}
	.download_button {
		text-align: center;
		padding-bottom: 66px;
		@media screen and (max-width: 1102px) {
			padding-bottom: 93.5px;
		}
		@media screen and (max-width: 600px) {
			padding-bottom: 71.5px;
		}

		a {
			background: #8d81ac;
			border-radius: 40px;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 700;
			font-size: 21px;
			line-height: 22px;
			color: #ffffff;
			padding: 23px 61px;
			display: inline-block;
			margin-bottom: 19px;
			@media screen and (max-width: 600px) {
				font-size: 18px;
				line-height: 20px;
				padding: 13px 29px;
				
			}
		}
		p {
			font-size: 14px;
			line-height: 15px;
			color: #848e97;

		}
	}

	h2 {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 700;
		font-size: 54px;
		line-height: 54px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 35px;
		color: #635c73;
		@media screen and (max-width: 796px) {
			font-size: 42px;
			line-height: 42px;
		}
		@media screen and (max-width: 500px) {
			font-size: 26px;
			line-height: 28px;
		}
	}
	> p {
		max-width: 861px;
		font-family: "Lato";
		font-style: normal;
		font-weight: 400;
		font-size: 21px;
		line-height: 32px;
		text-align: center;
		color: #323232;
		margin: 0 auto;
		margin-bottom: 28px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
	}
	li {
		border: 1px solid #635c73;
		border-radius: 2px;
		display: flex;
		gap: 10px;
		align-items: center;

		> button {
			padding: 5px 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 3px;
			height: 100%;
			border: 0;
			border-radius: 0px;
			border-right: 1px solid gray;
			font-weight: 700;
			font-size: 10px;
		}
		> span {
			display: inline-block;
			font-size: 12px;
			font-weight: 700;
			padding-right: 7px;
			font-size: 10px;
		}
	}
}
