@import "reset";
@import "fonts";
@import "header";
@import "rev-editor";
@import "what-you-get";
@import "about";
@import "fork-pricing";
//@import "what-you-get-grid";

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}
.container {
	max-width: 1380px;
	margin: 0 auto;
	overflow: hidden;
}
h2{
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;

	@media screen and (max-width: 1327px) {
		font-size: 42px;
	}

	@media screen and (max-width: 505px) {
		font-size: 32px;
	}
}