.what-you-get {
	padding: 100px 0px 33px 90px;
	//width: 100%;
	background: #f4f4f4;
	display: grid;
	grid-template-columns: 41% 56%;
	grid-column-gap: 3%;
	grid-template-areas:
		"list1 title"
		"list1 img";

		@media screen and (max-width: 1206px) {
			flex-direction: column;
			padding-top: 62px;
			padding-bottom: 0;
		}
		@media screen and (max-width: 505px) {
			padding-top: 32px;
		}
}

.what-you-get_list {
	display: flex;
	flex-direction: column;
	grid-area: list1;
	justify-content: space-between;
	//max-width: 536px;
}

.right-column_img {
	grid-area: img;
	width: 100%;
}
.what-you-get-list_item {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 23px;
}

.text-content {
	
	width: 73%;
	@media screen and (max-width: 1206px) {
		width: 83%;
	}
	@media screen and (max-width: 505px) {
		width: 100%;
		text-align: center;
	}
	h3 {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #323232;
		margin-bottom: 15px;
	}
	p {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: #848e97;
	}
}
.img-content {
	display: flex;
	justify-content: center;
	 min-width: 90px;
	// max-width: 15%;
	img {
		max-width: 100%;
	}
	@media screen and (max-width: 505px) {
		min-width: 100%;
	}
}


.what-you-get_title {
	grid-area: title;
	padding-left: 25px;
	padding-right: 90px;
	
	color: #8d81ac;
	margin-bottom: 19px;

	@media screen and (max-width: 1206px) {
		
		margin-bottom: 52px;
		text-align: center;
		
	}

	@media screen and (max-width: 505px) {
		
		margin-bottom: 36px;
	}
}

.right-column_img {
	width: 100%;
}
