.what-you-get {
	display: flex;
	background: #f4f4f4;
	padding-top: 100px;
	padding-bottom: 33px;
	width: 100%;
	@media screen and (max-width: 1206px) {
		flex-direction: column;
		padding-top: 62px;
		padding-bottom: 0;
	}
	@media screen and (max-width: 505px) {
		padding-top: 32px;
	}
}
.what-you-get_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 90px;
	width: 49%;
	padding-right: 49px;
	box-sizing: border-box;
	gap: 30px;
	@media screen and (max-width: 1335px) {
		padding: 0px 30px;
		gap: 60px;
	}
	@media screen and (max-width: 1206px) {
		width: 100%;
	}
	@media screen and (max-width: 505px) {
		padding: 0 16px;
	}
}
.what-you-get-list_item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 23px;
	@media screen and (max-width: 505px) {
		flex-direction: column;
	}
	.text-content {
		// display: flex;
		width: 75%;
		@media screen and (max-width: 1206px) {
			width: 83%;
		}
		@media screen and (max-width: 505px) {
			width: 100%;
			text-align: center;
		}
		h3 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #323232;
			margin-bottom: 15px;
		}
		p {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: #848e97;
		}
	}
	.img-content {
		display: flex;
		justify-content: center;
		min-width: 90px;
		max-width: 15%;
		img {
			max-width: 100%;
		}
		@media screen and (max-width: 505px) {
			min-width: 100%;
		}
	}
}

.what-you-get_title {
	display: none;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
	color: #8d81ac;
	&.wide {
		display: block;
		padding-left: 26px;
	}
	@media screen and (max-width: 1206px) {
		display: block;
		margin-bottom: 52px;
		text-align: center;
		font-size: 42px;
		padding: 0px 30px;
		&.wide {
			display: none;
		}
	}

	@media screen and (max-width: 505px) {
		font-size: 32px;
		margin-bottom: 36px;
		padding: 0px 16px;
	}

	
}
.right-column {
	width: 50%;
	
	.rigth-column_img {
		object-fit: cover;
	}

	@media screen and (max-width: 1206px) {
		width: 100%;
		.right-column_img {
			float: right;
		}
	}
	@media screen and (max-width: 700px) {
		.right-column_img {
			float: none;
		}
	}
}