.container {
	background-image: url(./img/background.jpg);
	font-family: 'Ubuntu', sans-serif;
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}


.header-container-main {
	display: flex;
	height: 58px;
	color: white;
	box-sizing: border-box;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.header-container-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 50px;
	font-weight: 700;
	font-size: 22px;
	line-height: 22px;

}

.img-responsive {
	padding: 0px 15px;
	padding-right: 25px;
}

.or {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10px;
}

.header-container-discription {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	padding-right: 80px;

}

.separator {

	display: flex;
	align-items: center;
	margin-top: 30px;
}

.separator::before {

	content: "";
	width: 152px;
	height: 1px;
	background-color: #F2F2F2;
	display: inline-block;
	margin-right: 5px;
}

.separator::after {
	content: "";
	width: 152px;
	height: 1px;
	background-color: #F2F2F2;
	display: inline-block;
	margin-left: 5px;

}

.header-container-singlog {

	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
}

.form {

	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: white;
	padding: 0px 60px 40px;
	position: relative;

}

.main {

	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.main-form {

	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 31px;

}

.greenSquare {
	width: 16px;
	height: 16px;
	background-color: #3CB878;
	position: absolute;
	left: 0px;
}

.input-container {

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 57px;
	width: 100%;

}

.input-text {
	width: 100%;
	padding: 15px;
	margin-bottom: 5px;
	background: #FFFFFF;
	border-radius: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	border: 1px solid #F2F2F2;

}

.input-text::placeholder {

	font-size: 14px;
	color: #BEBEBE;
	height: 14px;
	left: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;

}

.input-text:focus {

	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main-form-discription {

	display: flex;
	margin: 0px;
	width: 69px;
	height: 14px;
	justify-content: flex-start;

}

.button {

	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-top: 15px;
}

.button-btn {

	width: 160px;
	height: 48px;
	border: none;
}

.facebook {
	background-color: #305DB8;
	color: white;
	justify-content: space-around;
	display: flex;
	align-items: center;

}

.google {

	background-color: #DF4A32;
	color: white;
	justify-content: space-around;
	display: flex;
	align-items: center;
}

.create-account {

	padding-top: 10px;
	width: 100%;
}

.create-account-btn {

	background-color: #3CB878;
	color: white;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	border-radius: 4px;
	padding: 16px;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	border: none;

}

.checkBox-span {
	color: #3cb878;
}

.checkBox {
	display: flex;
	justify-content: left;
	margin-top: 12px;
}

.main-form-discription-login {

	color: #3cb878;
	Width: 45px;
	Height: 14px;

}