<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="@img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.min.css">
	<script src="js/app.min.js"></script>
	<title>@@title</title>
</head>