<main>
	<section class="rev_editor">
		<div class="download_button">
			<a href="#">Download For Free Now</a>
			<p>Unlimited 30-Days Trial Period</p>
		</div>
		<h2>Revolutionary editor</h2>
		<p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id
			quam auctor molestie eget ut augue.</p>
		<ul>
			<li>
				<button>
					<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
						data-view-component="true">
						<path
							d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.67 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.83.88 9.576.43 8.898a1.62 1.62 0 0 1 0-1.798c.45-.677 1.367-1.931 2.637-3.022C4.33 2.992 6.019 2 8 2ZM1.679 7.932a.12.12 0 0 0 0 .136c.411.622 1.241 1.75 2.366 2.717C5.176 11.758 6.527 12.5 8 12.5c1.473 0 2.825-.742 3.955-1.715 1.124-.967 1.954-2.096 2.366-2.717a.12.12 0 0 0 0-.136c-.412-.621-1.242-1.75-2.366-2.717C10.824 4.242 9.473 3.5 8 3.5c-1.473 0-2.825.742-3.955 1.715-1.124.967-1.954 2.096-2.366 2.717ZM8 10a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 10Z">
						</path>
					</svg>
					Watch
				</button>
				<span>1,397</span>
			</li>
			<li>
				<button>
					<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
						data-view-component="true">
						<path
							d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Z">
						</path>
					</svg>
					Star
				</button>
				<span>21,038</span>
			</li>
			<li>
				<button>
					<svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
						data-view-component="true">
						<path
							d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z">
						</path>
					</svg>
					Fork
				</button>
				<span>4,391</span>
			</li>
		</ul>
	</section>

	<section class="what-you-get">
		<h2 class="what-you-get_title">&lt;Here is what you get&gt;</h2>
		<ul class="what-you-get_list">
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon1.png" alt="#" width="111" height="64">
				</div>
				<div class="text-content">
					<h3>
						Creatred to Make The Web Better
					</h3>
					<p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id
						metus
						id quam auctor molestie eget ut augue.</p>
				</div>
			</li>
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon2.png" alt="#" width="90" height="80">
				</div>
				<div class="text-content">
					<h3>Incredibly Powerful Tool</h3>
					<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
						Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
				</div>
			</li>
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon3.png" alt="#" width="60" height="84">
				</div>
				<div class="text-content">
					<h3>Experimental Stuff</h3>
					<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
						Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
				</div>
			</li>
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon4.png" alt="#" width="71" height="71">
				</div>
				<div class="text-content">
					<h3>Creatred to Make The Web Better</h3>
					<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
						Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
				</div>
			</li>
			<div>
			</div>
		</ul>
		<div class="right-column">
			<h2 class="what-you-get_title wide">&lt;Here is what you get&gt;</h2>
			<img class="right-column_img" src="/img/main/what_you_get/editor.png">
		</div>
	</section>
<!-- <section class="what-you-get">   greed решение
		<ul class="what-you-get_list">
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon1.png" alt="#" width="111" height="64">
				</div>
				<div class="text-content">
					<h3>
						Creatred to Make The Web Better
					</h3>
					<p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id
						metus
						id quam auctor molestie eget ut augue.</p>
				</div>
			</li>
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon2.png" alt="#" width="90" height="80">
				</div>
				<div class="text-content">
					<h3>Incredibly Powerful Tool</h3>
					<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
						Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
				</div>
			</li>
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon3.png" alt="#" width="60" height="84">
				</div>
				<div class="text-content">
					<h3>Experimental Stuff</h3>
					<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
						Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
				</div>
			</li>
			<li class="what-you-get-list_item">
				<div class="img-content">
					<img src="/img/main/what_you_get/icon4.png" alt="#" width="71" height="71">
				</div>
				<div class="text-content">
					<h3>Creatred to Make The Web Better</h3>
					<p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac.
						Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
				</div>
			</li>
			<div>
			</div>
		</ul>
		
			<h2 class="what-you-get_title wide">&lt;Here is what you get&gt;</h2>
			<img class="right-column_img" src="/img/main/what_you_get/editor.png">
		
	</section> -->
	<section class="about">
		<h2>People Are Talking About Fork</h2>
		<ul class="about-list">
			<li class="about-list_item">
				<img src="/img/main/about/smash.png" alt="#" width="165">
				<p>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius
					urna et pulvinar venenatis. </p>
			</li>
			<li class="about-list_item">
				<img src="/img/main/about/codeprops.png" alt="#" width="148">
				<p>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis
					eleifend nibh.</p>
			</li>
			<li class="about-list_item">
				<img src="/img/main/about/w.png" alt="#" width="64">
				<p>In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi
					tempus auctor felis ac vehicula. </p>
			</li>
			<li class="about-list_item">
				<img src="/img/main/about/pixel.png" alt="#" width="225">
				<p>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius
					urna et pulvinar venenatis. </p>
			</li>
			<li class="about-list_item">
				<img src="/img/main/about/cb.png" alt="#" width="166">
				<p>Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat
					faucibus. </p>
			</li>
			<li class="about-list_item">
				<img src="/img/main/about/tnw.png" alt="#" width="108"> 
				<p>Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et
					vestibulum.</p>
			</li>

		</ul>
		<p class="about-text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis
			nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis
			dis parturient montes, nascetur ridiculus mus. </p>
	</section>

	<section class="fork-pricing">
		<h2>Fork Subscription Pricing</h2>

		<ul class="fork-pricing_list">
			<li>
				<div class="name">
					Students
				</div>
				<div>
					<div class="price">29</div>
					<div class="time">Per month</div>
					<span></span>
					<div class="description">Personal License</div>
					<button class="purchase">purchase</button>
				</div>
			</li>
			<li>
				<div class="name">
					professional
				</div>
				<div>
					<div class="price">59</div>
					<div class="time">Per month</div>
					<span></span>
					<div class="description">Professional License<br>Email Support</div>
					<button class="purchase">purchase</button>
				</div>
			</li><li>
				<div class="name">
					agency
				</div>
				<div>
					<div class="price">99</div>
					<div class="time">Per month</div>
					<span></span>
					<div class="description">1-12 Team Members<br>Phone Support</div>
					<button class="purchase">purchase</button>
				</div>
			</li><li>
				<div class="name">
					enterprise
				</div>
				<div>
					<div class="price">159</div>
					<div class="time">Per month</div>
					<span></span>
					<div class="description">Unlimited Team Members<br>24/ 7 Phone Support</div>
					<button class="purchase">purchase</button>
				</div>
			</li>
		</ul>
	</section>
</main>